.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #293628;
  background-color: rgb(237, 170, 170);
}

.delOppgave {
  color: goldenrod;
  width: 30em;
  margin: 2em;
  font-size: 0.8em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
  padding: 1em;
  margin: 1em;
}

.button p {
  height: 5em;
  width: 5em;
  border: solid red 1px;
  border-radius: 100%;
  padding: 0.5em;
  background-color: aliceblue;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img {
  width: 50%;
  height: 50%;
  margin: 1em;
}

.box p {
  font-size: 4em;
}

.box button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.bang {
  position: absolute;
  margin-left: 3.4em;
}

.sspGame {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  align-items: center;
}
.sspGame button {
  font-size: 0.7em;
  border: none;
  border-radius: 2em;
  padding: 0.5em;
  cursor: pointer;
  outline: inherit;
  color: white;
  background: rgb(255, 81, 81);



}
.sspGame img {
  width: 7em;
  margin: 1.1em;
}
.sspGame .sspButton button {
  margin: 3.4em;
  font-size: 0.7em;
  border: none;
  border-radius: 2em;
  padding: 1em;
  cursor: pointer;
  outline: inherit;
  color: white;
  background: rgb(255, 81, 81);

}