* {
  margin: 0;
}
.content {
  background-color: #2C2A4A;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #4F518C;
  width: 50%;
  align-items: center;
  text-align: center;
  border: solid white 1em;
  border-style: dotted;
  padding: 2em;
  color: azure;
}
.h2 {
  margin-top: 1em;
}
.signup-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3em;
  width: 25%;
}
.signup-input p {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}
.signup-input button {
  margin-top: 3em;
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 700;
  line-height: 2em;
  padding: 0.5em 1em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.under-content a {
  color: azure;
}
.under-content a:hover {
  color: #2C2A4A;
}
