* {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana;
}
.App {
  background-color: #F3F3F3;
}

/*header i App.js*/
.App-header {
  min-height: 5.3em;
  text-align: left;
  width: 100%;

}
.App-logo {
  margin-top: 2em;
  margin-left: 4em;
  height: 2em;
}

/* footer App.js*/
footer {
  background-color: #006DAD;
  color: white;
  font-size: 1em;
  padding: 2em;
  display: flex;
  justify-content: center;
}
footer p {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;
}
footer a {
  text-decoration: underline;
  color: aliceblue;
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.kontakt_info{
  text-align: left;
}
.kontakt_info h6 {
  font-size: 1.3em;
  margin-top: 1em;
}

/*Sign-up*/
.signup_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}
.signup_input p {
  margin-top: 1em;
  font-weight: 550;
}
.signup_input input {
  width: 15%;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.signup_input input[type=submit] {
  margin-top: 3em;
  padding: 0.8em;
  width: 6em;
  background-color:#006DAD;
  color: white;
  border: none;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

/*Login.js*/
.login_button {
  padding: 1em;
  margin-top: 6em;
  font-size: 1em;
  background-color: #006DAD;
  color: white;
  border-radius: 4%;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition-duration: 0.4s;
}

/* hjem.js*/
.under_nav {
  width: 100%;
  background-color: #006DAD;
  color: whitesmoke;
  font-size: 2em;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-weight: 500;
}
.over_content {
  height: 100%;
  text-align: center;
  padding: 2em;
  font-size: 1.5em;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

}
.content p {
  font-size: 1.5em;
  font-weight: 600;
  padding: 1em;
  margin: 0.1em;
}
.body_img {
  width: 80%;
  height: 80%;
}
.kurs {
  margin-top: 1em;
}
.kurs button {
  padding: 1em;
  width: 50%;
  font-size: 1em;
  background-color: #006DAD;
  color: white;
  border-radius: 5%;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition-duration: 0.4s;
}
.kurs button:hover {
  background-color: #013553;
  color: white;
}
.button_div{
  margin-top: 2em;

}
.under_content {
  text-align: center;
  font-size: 1em;
  padding: 2em;
  padding-bottom: 4em;
}
.under_content a {
  text-decoration: none;
  color: none;
}

/*Book.js*/
.praktisk_informasjon {
  display: flex;
  flex-direction: column;
  padding: 1em;
  text-align: center;
}
.praktisk_informasjon h6 {
  font-size: 1.3em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.praktisk_informasjon p {
  padding-top: 1em;
}
.personlig_info {
  text-align: center;
  padding-top: 1em;
}
.personlig_info input {
  margin-top: 1em;
  margin-bottom: 1em;
}
.under_info {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4em;
}
.button_style {
  padding: 1em;
  margin-top: 5em;
  font-size: 1em;
  background-color: #006DAD;
  color: white;
  border-radius: 4%;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition-duration: 0.4s;
}
.button_style:hover {
  background-color: #013553;
}

/*Tabell.js*/
.timeplan_tabell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
}
.timeplan_tabell table {
  border: solid #006DAD 0.3em;
  border-radius: 2%;
  padding: 1em;
}
.timeplan_tabell td {
  border: solid black 0.01em;
  border-radius: 5%;
  padding: 1em;
  background-color: #006DAD;
  color: whitesmoke;
  width: 7em;
}
.timeplan_tabell .tidspunkt {
  background-color: #013553;
  padding-left: 3em;
  padding-right: 1em;
}

/*Bekreftelse.js*/
.button_box {
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}
.button_done {
  padding: 1em;
  margin-top: 5em;
  font-size: 1em;
  background-color: #006DAD;
  color: white;
  border-radius: 4%;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  margin-right: 1em;
  margin-left: 1em;
  transition-duration: 0.4s;
}
.button_done:hover {
  background-color: #013553;
}