.parent {
    display: flex;
    justify-content: center;
    padding: 3em;
}
.data_content {
    display: flex;
    width: 70%;
}
.data_content img {
    width: 30%;
}
.right_content {
    padding-left: 2em;
}
.right_content p {
    padding-top: 1em;
    font-size: 1em;
}
.right_content button {
    padding: 1em;
    margin-top: 5em;
    font-size: 1em;
    background-color: #006DAD;
    color: white;
    border-radius: 4%;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}
.right_content button:hover {
    background-color: #013553; /* Green */
    color: white;
}
